
@import "tailwindcss";

:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}


body {
  margin: 0;
  padding: 0;
  background: white;
  overflow: auto;
  font-family: "Inter", sans-serif;
}

.background-circles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 31, 63, 0.1);
  animation: float 20s linear infinite;
}

.circle:nth-child(1) {
  width: 150px;
  height: 150px;
  top: 20%;
  left: 10%;
  animation-delay: 0s;
}
.circle:nth-child(2) {
  width: 100px;
  height: 100px;
  top: 50%;
  left: 80%;
  animation-delay: 5s;
}
.circle:nth-child(3) {
  width: 200px;
  height: 200px;
  top: 75%;
  left: 30%;
  animation-delay: 10s;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-30px) translateX(30px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
